@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700;800&family=Playfair+Display:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blanco);
  font-family: "Nunito Sans", sans-serif;
}

/**Clases Globales**/

.g-tituloPrincipal {
  margin-top: 88px;
  font-size: $headline1;
  font-family: "Playfair Display", serif;
  text-align: center;
  line-height: 3rem;
  @media (max-width: 828px) {
    margin-top: 44px;
    font-size: $headline3;
  }
  @media (max-width: 551px) {
    font-size: $headline4;
  }
}

.g-tituloSeccion {
  font-size: $headline2;
  font-family: "Playfair Display", serif;
  @media (max-width: 828px) {
    font-size: $headline5;
  }
}

.g-tituloCards {
  font-size: $headline4;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  @media (max-width: 828px) {
    font-size: $headline6;
    font-weight: 400;
  }
}

.g-button {
  color: #ffffff !important;
  background-color: $bgVerde;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  margin: 5px 0;
  text-decoration: none;
  cursor: pointer;
}

.g-cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
}

.g-coordinemos-container {
  width: 100%;
  height: 40vh;
  background-color: $bgCrema;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 15px 0;
  }
}

.g-contacto {
  width: 100%;
  @extend %flexContainer;
  background: $bgCrema;
  :first-child {
    margin: 100px 0 11px 0;
  }
  :last-child {
    margin: 35px 0 120px 0;
  }
}

/**Mixins y extends**/

%flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@mixin card($ancho, $padding, $anchoAdaptable) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $ancho;
    height: auto;
    padding: $padding;
    font-size: $body1;
    img {
      width: auto;
      height: 424px;
      object-fit: cover;
    }
  }
  @media (max-width: 1052px) {
    .cards {
      max-width: $anchoAdaptable;
      font-size: $body3;
    }
  }
  @media (max-width: 828px) {
    justify-content: center;
    flex-wrap: wrap;
    .cards {
      max-width: 256px;
    }
  }
  @media (max-width: 551px) {
    display: flex;
    flex-direction: column;
    .cards {
      max-width: 328px;
    }
  }
}

/**Nav**/

nav {
  .cajaNav {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px whitesmoke;
    border-bottom: 1px solid #dadada;

    .barNav {
      margin: 0 10px 0 0;
      display: flex;
      list-style: none;
      align-items: center;
      padding: 0;
      flex-grow: 1;
      justify-content: space-evenly;
      li {
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
        &:hover {
          cursor: pointer;
        }
        a {
          text-decoration: none;
          cursor: pointer;
          color: inherit;
        }
      }
    }
    .titNav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #000;
      height: auto;
      width: 348px;
      .toggle {
        display: none;
      }
      img {
        width: 110px;
        height: auto;
      }
    }
    .botones {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 340px;
      a {
        text-decoration: none;
        margin: 0 40px 0 0;
      }
    }
    .toggle {
      display: none;
    }
  }
  .navB {
    display: none;
  }

  @media (max-width: 828px) {
    display: flex;
    flex-direction: column;
    .navB {
      display: flex;
      flex-direction: column;
      list-style: none;
      align-items: center;
      background-color: #f2ecde;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 700;
      font-size: 18px;
      li {
        padding: 50px;
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
    .cajaNav {
      flex-direction: row;
      align-items: center;
      .navA {
        display: none;
      }
      .titNav {
        justify-content: flex-start;
        order: 1;
      }
      .toggle {
        display: block;
        cursor: pointer;
        order: 4;
        height: 2rem;
        width: 3rem;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .botones {
        order: 3;
        justify-content: flex-end;
        flex-grow: 1;
        margin: 0 10px;
        a {
          margin: 10px;
        }
      }
    }
    .abierto {
      display: flex !important;
    }
    .cerrado {
      display: none !important;
    }
  }
}

/**Index**/
#p-index {
  #landing {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      padding: 10px;
      margin: 20px 0;
      font-size: $body1;
      @media (max-width: 828px) {
        font-size: $body3;
      }
    }

    img {
      margin: 20px 0;
      width: 100%;
      max-width: 1040px;
      height: auto;
    }
  }

  #p-videos {
    background-color: $bgCrema;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 828px) {
      padding: 2rem 1rem;
    }

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    .container {
      display: flex;
      padding: 0 20vw;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;

      @media (max-width: 828px) {
        flex-direction: column;
        padding: 0;
      }

      .video {
        @media (max-width: 551px) {
          width: 300px;
          height: auto;
        }
      }
    }

    .top {
      .video {
        margin-right: 1rem;
        @media (max-width: 828px) {
          margin: 0;
        }
      }

      p {
        margin-left: 1rem;
        @media (max-width: 828px) {
          margin: 0;
          margin-top: 1rem;
        }
      }
    }

    .bottom {
      @media (max-width: 828px) {
        flex-direction: column-reverse;
      }

      .video {
        margin-left: 1rem;

        @media (max-width: 828px) {
          margin: 0;
        }
      }

      p {
        margin-right: 1rem;

        @media (max-width: 828px) {
          margin: 0;
          margin-top: 1rem;
        }
      }
    }
  }

  #p-contactanos {
    background-color: $bgCrema;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;

    h2 {
      @media (max-width: 828px) {
        font-size: $headline3;
      }
    }

    .container {
      display: flex;
      align-items: center;

      @media (max-width: 551px) {
        flex-direction: column;
      }

      .logo {
        width: 50%;
        height: auto;
        margin-right: 1.5rem;

        @media (max-width: 551px) {
          display: none;
        }
      }

      .datos {
        margin-left: 1.5rem;

        @media (max-width: 551px) {
          margin: 1rem 0 0 0;
          text-align: center;
        }

        h4 {
          font-size: $headline4;
          font-family: "Playfair Display", serif;
          @media (max-width: 828px) {
            font-size: $headline6;
          }
        }

        .iconos {
          .linea {
            display: flex;
            align-items: center;
            margin-top: 2rem;

            p {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

/**Seccion introduccion proyectos**/

#introProyectos {
  padding-bottom: 2rem;

  @extend %flexContainer;
  h2 {
    margin: 31px 0 72px 0;
  }
  p {
    margin: 20px;
  }
  .contenedorCards {
    @include card(331px, 10px, 256px);
    h5 {
      margin-top: 20px;
    }
    .card1 {
      margin-top: 192px;
    }
    .card3 {
      margin-top: 120px;
    }
  }
  @media (max-width: 827px) {
    .contenedorCards {
      .card1,
      .card3 {
        margin-top: 0;
      }
    }
  }
}

/**Proyectos**/

#proyectos {
  @extend %flexContainer;
  h1 {
    margin-bottom: 48px;
  }
  p {
    max-width: 686px;
    margin-bottom: 48px;
    font-size: $body1;
    @media (max-width: 828px) {
      font-size: $body3;
    }
  }
  a {
    text-decoration: none;
    color: #000;
    &:visited {
      color: #000;
    }
  }
  .contenedorCards {
    @include card(331px, 10px, 256px);
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    h5 {
      margin: 28px 0 28px 0;
    }
    .card5 {
      margin-top: -70px;
    }
    .card1,
    .card4 {
      margin-top: 106px;
    }
    .card3,
    .card6 {
      margin-top: 42px;
    }
    .underline {
      font-size: 18px;
      font-weight: 400;
      color: $bgVerde;
      text-decoration: underline;
    }
  }
  @media (max-width: 827px) {
    .contenedorCards {
      .cards {
        margin-top: 0;
      }
    }
  }
}

/**Servicios**/

#p-servicios {
  #principalServicios {
    @extend %flexContainer;
    h1 {
      margin-bottom: 28px;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      max-height: 424px;
      margin: 30px 0 67px 0;
    }
    .textBox {
      max-width: 650px;
      margin-top: 25px;
    }
    p {
      font-size: $body1;
      @media (max-width: 828px) {
        font-size: $body3;
      }
    }
    .contenedorCards {
      @include card(242px, 10px, 190px);
      .segundoContenedor {
        display: flex;
        .cardImg {
          margin-bottom: 21px;
        }
        .card2,
        .card4 {
          margin-top: 160px;
        }
        @media (max-width: 828px) {
          .card2,
          .card4 {
            margin-top: 0;
          }
        }
        h3 {
          margin-bottom: 8px;
        }
        @media (max-width: 551px) {
          flex-direction: column;
        }
      }
    }
  }
  #arquitecturaGeneral {
    @extend %flexContainer;
    background-color: $bgCrema;
    padding: 60px;
    h2 {
      margin-bottom: 56px;
    }
    .contenedorArquitectura {
      display: flex;
      align-items: center;
      text-align: start;

      img {
        width: 100%;
        height: auto;
        max-width: 508px;
        margin-right: 10px;
      }
      p {
        width: 100%;
        height: auto;
        max-width: 508px;
        font-size: $body3;
      }
    }
    @media (max-width: 1052px) {
      .contenedorArquitectura {
        img {
          max-width: 400px;
        }
      }
    }
    @media (max-width: 828px) {
      .contenedorArquitectura {
        img {
          max-width: 256px;
        }
      }
    }

    @media (max-width: 600px) {
      padding: 58px 16px 64px 16px;
      .contenedorArquitectura {
        flex-direction: column;
        img {
          margin-bottom: 31px;
          margin-right: 0;
          max-width: 328px;
        }
      }
    }
  }
  #renovar {
    @extend %flexContainer;
    .imagen {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: 48px;
      .contenedorImagen {
        display: flex;
        flex-wrap: nowrap;
        img {
          max-width: 508px;
          width: 100%;
          height: 456px;
          object-fit: cover;
          padding: 10px;
        }
        :first-child {
          margin-top: 104px;
        }
      }
      @media (max-width: 1052px) {
        .contenedorImagen {
          img {
            max-width: 400px;
          }
        }
      }
      @media (max-width: 828px) {
        .contenedorImagen {
          :first-child {
            margin-top: 0;
          }
          img {
            max-width: 352px;
          }
        }
      }
      @media (max-width: 740px) {
        .contenedorImagen {
          :first-child {
            margin-top: 0;
          }
          img {
            max-width: 256px;
          }
        }
      }
      @media (max-width: 600px) {
        flex-direction: column;
        flex-wrap: wrap;
        .contenedorImagen {
          flex-direction: column;
          height: auto;
          img {
            max-width: 328px;
          }
        }
      }
    }
    .texto {
      :first-child {
        font-family: "Playfair Display", serif;
        font-size: $headline4;
        font-weight: 700;
        margin: 102px 0 24px 0;
      }
      :last-child {
        font-size: $body1;
        max-width: 508px;
        margin-bottom: 120px;
        @media (max-width: 828px) {
          font-size: $body3;
        }
      }
    }
  }
}

/**Nosotros**/

#p-nosotros {
  #nosotros {
    @extend %flexContainer;
    #landing {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        margin-bottom: 20px;
        line-height: 4rem;
        @media (max-width: 551px) {
          line-height: 2.5rem;
        }

        @media (max-width: 551px) {
          line-height: 3.25rem;
        }
      }
      img {
        margin: 20px 0;
        width: 90%;
        max-width: 1040px;
        height: auto;
      }
    }
    #sobreNosotros {
      display: flex;
      flex-direction: column;
      margin-bottom: 72px;
      h2 {
        margin: 150px 0 48px 0;
      }
    }
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .video {
        width: 350px;
        height: auto;

        @media (max-width: 551px) {
          width: 300px;
        }
      }
      p {
        max-width: 420px;
        text-align: start;
        margin: 30px;
        font-size: $body3;
      }
    }
    @media (max-width: 828px) {
      #sobreNosotros {
        h2 {
          margin: 50px 0 24px 0;
        }
      }
      .container {
        @media (max-width: 828px) {
          flex-direction: column;
        }
      }
    }
  }
}

/**#p-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;

    main {
        padding: 0 20px;
    }

    #landing {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            line-height: normal;
        }

        img {
            margin: 50px 0;
            width: 100%;
            max-width: 1040px;
            height: auto;
        }
    }

    #sobreNosotros {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: row;
            margin: 50px 0;

            @media(max-width: 600px){
                flex-direction: column;
            }

            &-left, &-right {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @media(max-width: 600px){
                    width: 100%;
                }
            }

            &-right {
                p {
                    padding: 0 15%;
                    @media(max-width: 600px){
                        padding: 0;
                        margin-top: 15px;
                    }
                }
            }

            &-left {
                img {
                    max-width: 250px;
                }
            }
        }
    }
}**/

/**Footer**/

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 248px;
  font-size: $body3;
  :first-child {
    display: flex;
    flex-direction: column;
    img {
      max-width: 76px;
      width: 100%;
      height: auto;
      margin-bottom: 9px;
    }
    p {
      line-height: 24px;
    }
  }
  :nth-child(2) {
    font-size: $body2;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #000;
      margin: 12px 0 12px 0;
    }
  }
  :last-child {
    p {
      margin-bottom: 9px;
    }
    :nth-child(2),
    :last-child {
      font-size: $body2;
    }
  }
  @media (max-width: 828px) {
    flex-direction: column;
    align-items: flex-start;
    margin: 32px 0px 18px 31px;
    height: 504px;
  }
}
